<h1><%= @media_item.title %> (<%= @media_item.release_year %>)</h1>

<p><strong>Category:</strong> <%= @media_item.category.capitalize %></p>
<p><strong>Rating:</strong> <%= @media_item.rating %> / 10</p>
<p><strong>Status:</strong> <%= @media_item.watchlist.capitalize %></p>

<br />

<p><strong>Description:</strong></p>
<p><%= @media_item.description %></p>

<br />
<br />

<p><strong>Created at:</strong> <span id="created_at" data-time="<%= @media_item.created_at.iso8601 %>"></span></p>
<p><strong>Last updated:</strong> <span id="updated_at" data-time="<%= @media_item.updated_at.iso8601 %>"></span></p>

<br />

<%= link_to "Edit", edit_media_item_path(@media_item) %> |
<%= link_to "Back to List", media_items_path %>

<script>
  function formatLocalTime(id) {
    const elem = document.getElementById(id);
    if (!elem) return;
    const timeString = elem.getAttribute("data-time");
    const date = new Date(timeString);

    const formatted = date.toLocaleString(undefined, {
      month: '2-digit',
      day: '2-digit',
      year: 'numeric',
      hour: '2-digit',
      minute: '2-digit',
      hour12: false
    });

    elem.textContent = formatted;
  }

  formatLocalTime("created_at");
  formatLocalTime("updated_at");
</script>
