<h1><%= @media_item.title %> (<%= @media_item.release_year %>)</h1>

<p><strong>Category:</strong> <%= @media_item.category.capitalize %></p>
<p><strong>Rating:</strong> <%= @media_item.rating %> / 10</p>
<p><strong>Status:</strong> <%= @media_item.watchlist.capitalize %></p>

<br />

<p><strong>Description:</strong></p>
<p><%= @media_item.description %></p>

<br />
<br />

<%= link_to "Edit", edit_media_item_path(@media_item) %> |
<%= link_to "Back to List", media_items_path %>
